.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-group-1 {
  width: 490px;
  min-height: 642px;
  height: auto;
  margin: 99px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-line-1 {
  width: 100px;
  margin: 25px auto 0;
}

.u-section-1 .u-form-1 {
  height: 419px;
  width: 390px;
  margin: 6px 0 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-line-1 {
    height: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 183%;
    left: -41%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 244%;
    left: -72%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 387%;
    left: -144%;
  }
}.u-block-6fdb-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-6fdb-3 {
  position: absolute;
  left: 0;
}

.u-block-6fdb-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("../images/man-with-rucksack-admires-gorgeous-mountain-555.jpg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 868px;
}

.u-section-2-1 .u-group-1 {
  width: 419px;
  min-height: 489px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 60px 0;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-1 .u-text-1 {
  margin: 43px 0 0;
}

.u-section-2-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 20px auto 0 0;
}

.u-section-2-1 .u-icon-1 {
  height: 100%;
}

.u-section-2-1 .u-icon-2 {
  height: 100%;
}

.u-section-2-1 .u-icon-3 {
  height: 100%;
}

.u-section-2-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-2-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 546px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-2-1 .u-group-1 {
    width: 340px;
  }
}

 .u-section-2-2 {
  background-image: url("../images/ethiopia-min.jpg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 868px;
}

.u-section-2-2 .u-shape-1 {
  width: 403px;
  height: 483px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 auto;
}

.u-section-2-2 .u-group-1 {
  width: 539px;
  min-height: 385px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -434px 56px 109px auto;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-2-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 548px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-2-2 .u-group-1 {
    width: 488px;
    min-height: 368px;
    margin: -425px auto 60px 0;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2-2 .u-shape-1 {
    width: 273px;
    height: 443px;
  }

  .u-section-2-2 .u-group-1 {
    width: 300px;
    min-height: 356px;
    margin-top: -399px;
    margin-bottom: 103px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

 .u-section-2-3 {
  background-image: url("../images/chicken-skewers-with-slices-sweet-peppers-dill.jpg");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 868px;
}

.u-section-2-3 .u-group-1 {
  width: 482px;
  min-height: 421px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-2-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-3 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 5px 0 0;
}

.u-section-2-3 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  margin: 27px 0 0;
}

.u-section-2-3 .u-btn-1 {
  font-weight: 500;
  padding: 0;
}

.u-section-2-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 20px 52px 20px 51px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-2-3 .u-group-1 {
    height: auto;
  }

  .u-section-2-3 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2-3 .u-group-1 {
    width: 433px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
   .u-section-2-3 {
    background-position: 57.48% 100%;
  }

  .u-section-2-3 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-2-3 .u-group-1 {
    width: 368px;
    min-height: 433px;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-2-3 {
    background-position: 62% 100%;
  }

  .u-section-2-3 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-2-3 .u-group-1 {
    min-height: 453px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1085px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 60px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 59px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 281px;
  background-image: none;
  --radius: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 566px;
  background-image: url("../images/full-bleed-slider-07.jpg");
  --radius: 30px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 566px;
  background-image: url("../images/madain-saleh.jpg");
  --radius: 30px;
  background-position: 27.27% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 281px;
  --radius: 30px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 281px;
  --radius: 30px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-3 {
  min-height: 566px;
  background-image: url("../images/----E280AB-1024x677-2.jpeg");
  --radius: 30px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-3 .u-image-1 {
    min-height: 466px;
  }

  .u-section-3 .u-image-2 {
    min-height: 466px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 232px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 232px;
  }

  .u-section-3 .u-image-3 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1957px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-3 .u-image-1 {
    min-height: 398px;
  }

  .u-section-3 .u-image-2 {
    min-height: 398px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 156px;
  }

  .u-section-3 .u-image-3 {
    min-height: 797px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 596px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 596px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 598px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1363px;
  }

  .u-section-3 .u-image-1 {
    min-height: 375px;
  }

  .u-section-3 .u-image-2 {
    min-height: 375px;
  }

  .u-section-3 .u-image-3 {
    min-height: 377px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-image-1 {
  width: 481px;
  height: 481px;
  background-image: url("../images/767.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 900px;
}

.u-section-4 .u-image-2 {
  width: 415px;
  height: 415px;
  background-image: url("../images/5c23b767-7de7-4541-9a37-33b9d5a04656.webp");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 171px auto 0 900px;
}

.u-section-4 .u-image-3 {
  width: 446px;
  height: 446px;
  background-image: url("../images/ca9dad69c25cfd99f9c4927a8833c62a.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -415px auto 0 100px;
}

.u-section-4 .u-image-4 {
  width: 500px;
  height: 500px;
  background-image: url("../images/65754.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -1140px auto 0 100px;
}

.u-section-4 .u-group-1 {
  width: 723px;
  height: 723px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -234px auto 169px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 66px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  margin: 40px auto 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 433px;
    height: 433px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-left: 525px;
  }

  .u-section-4 .u-image-4 {
    width: 471px;
    height: 471px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 359px;
    height: 359px;
  }

  .u-section-4 .u-image-2 {
    width: 391px;
    height: 391px;
    margin-top: 951px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    width: 398px;
    height: 398px;
    margin-top: -697px;
  }

  .u-section-4 .u-image-4 {
    width: 377px;
    height: 377px;
    margin-top: -1188px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    height: 720px;
    margin-top: -140px;
    margin-bottom: 590px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-2 {
    margin-top: 1129px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -829px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -1040px;
  }

  .u-section-4 .u-group-1 {
    width: 584px;
    height: 584px;
    margin: -162px -22px 732px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2018px;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    height: 340px;
    width: 340px;
    margin-top: 1219px;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -720px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    height: 340px;
    width: 340px;
    margin-top: -1138px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    height: 450px;
    width: 440px;
    margin: 0 0 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 16px 120px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -7px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: -7px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("../images/jhhhhhh.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 760px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-list-1 {
  width: 417px;
  margin: 92px auto 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-5 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-5 .u-text-3 {
  margin: 21px 1px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-5 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-5 .u-text-5 {
  margin: 21px 1px 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-5 .u-icon-3 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-5 .u-text-7 {
  margin: 21px 1px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 30px 30px 60px;
}

.u-section-5 .u-form-1 {
  margin: 0;
}

.u-section-5 .u-label-1 {
  font-weight: 700;
}

.u-section-5 .u-label-2 {
  font-weight: 700;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-label-3 {
  font-weight: 700;
}

.u-section-5 .u-label-4 {
  font-weight: 700;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-5 .u-list-1 {
    width: 410px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 588px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-5 .u-form-1 {
    height: 478px;
    width: 426px;
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 87px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-list-1 {
    width: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-1 {
    width: 488px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 409px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-list-1 {
    width: 320px;
  }
}@font-face {
  font-family: 'GothamBold';
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/GothamBold.otf);
}@font-face {
  font-family: 'GothamRegular';
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/GothamRegular.otf);
}